h2 {
  font-size: 0.9em;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0px;
}

input[type=text], textarea {
  -moz-user-select: text;
  cursor: text;
}

label {
  margin-bottom: 0px;
}

#globalScripts, #pageScripts {
  max-height: 100px;
  overflow-x: visible;
  overflow-y: scroll;
  max-width: 400px;
  min-width: 300px;
}

#scriptName, #scriptCode {
  width: calc(100% - 8px);
}
#scriptCode {
  height: 75px;
  resize: none;
  font-family: monospace;
  font-size: 0.9em;
}

.flex {
  display: flex;
  align-items: end;
}
.flex-half {
  width: 50%;
}

.script-button {
  width: 100%;
}

.script-button button:nth-child(1) {
  width: calc(100% - 30px);
  height: 25px;
}
.script-button button:nth-child(2) {
  width: 30px;
  height: 25px;
}
